<launch>
    <!--start the aubo robot-->
    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="true" /> <!--true flase-->
        <arg name="robot_ip" value="127.0.0.1" /> <!--127.0.0.1 192.168.20.106-->
    </include>

<!--    &lt;!&ndash;start the gripper control &ndash;&gt;
    <node pkg="hand_control" type="hand_control_node" name="hand_control_node" >
    </node>-->

<!--    &lt;!&ndash; start the aruco&ndash;&gt;
    <include file="$(find aruco_ros)/launch/single.launch">
        &lt;!&ndash;arg name="config" value="true" /&ndash;&gt;
    </include>

    &lt;!&ndash; start usb_cam&ndash;&gt;
    <include file="$(find usb_cam)/launch/usb_cam-test.launch">
    </include>

    &lt;!&ndash; start the calibration publish&ndash;&gt;
    <include file="$(find easy_handeye)/launch/publish.launch">
    </include>-->
</launch>

