<launch>
    <!--start the aubo robot-->
    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="false" /> <!--true flase-->
        <arg name="robot_ip" value="192.168.20.107" /> <!--127.0.0.1 192.168.20.106-->
    </include>

    <!--start the aubo robot-->
<!--    <include file="$(find aubo_i5_moveit_config)/launch/moveit_planning_execution.launch">
        <arg name="sim" value="true" /> &lt;!&ndash;true flase&ndash;&gt;
        <arg name="robot_ip" value="127.0.0.1" /> &lt;!&ndash;127.0.0.1 192.168.20.106&ndash;&gt;
    </include>-->

    <!--start the gripper control -->
    <node pkg="hand_control" type="hand_control_node" name="hand_control_node" >
    </node>

    <!-- start the aruco-->
    <include file="$(find aruco_ros)/launch/single.launch">
    </include>

    <!-- start usb_cam-->
    <include file="$(find usb_cam)/launch/usb_cam-test.launch">
    </include>

    <!-- start the calibration publish-->
    <include file="$(find easy_handeye)/launch/publish.launch">
    </include>

</launch>

